<div>
  <table>
    <tr>
      <th>name</th>
      <th>reward</th>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <td><%= result[:name] %></td>
        <td><%= result[:reward] %></td>
      </tr>
    <% end %>
  </table>
</div>