<div>
  <h3>Test reward calculator </h3>
  <%= form_tag({ controller: "application", action: :calculate_reward }, method: "post", multipart: true) do %>
    <%= file_field_tag 'customers' %>
    <p><%= submit_tag("process file") %></p>
  <% end %>
</div>
